.wrapper{
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;

}

/* quando se usa rem ele se basea no font size da aplicação e tudo de ajeita conforme a tela for diminuindo */

@media screen and (max-width: 768px) {

    html{
        font-size: 87.5%;
    }

    .wrapper{
        grid-template-columns: 1fr;
    }
}