.post {
    background: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
}

/* estiliza todo post que tenha um post anterior */
.post+.post {
    margin-top: 2rem;
}

.content {
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.content p {
    margin-top: 1rem;
}

.content p a {
    text-decoration: none;
    color: var(--green-500);
    font-weight: bold;
}

.content p a:hover {
    color: var(--green-300);
}

/* pega somento o primeiro header dentro do post */
.post>header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post>header time {
    font-size: 0.875rem;
    color: var(--gray-400);
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo {
    display: flex;
    flex-direction: column;
}

.authorInfo strong {
    display: block;
    color: var(--gray-100);
    line-height: 1.6;
}

.authorInfo {
    display: block;
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);
}

/* estiliza a primeira tag strong */
.commentForm>strong {
    line-height: 1.6;
    color: var(--gray-100);
}

.commentForm textarea {
    width: 100%;
    resize: none;
    border: 0;
    height: 6rem;
    background: var(--gray-900);
    margin-top: 1rem;
    line-height: 1.4;
    border-radius: 8px;
    padding: 1rem;
    color: var(--gray-100);
}

.commentForm button[type=submit] {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s;

    /* display none nao e tao bom para acessibilidade */

}

.commentForm button[type=submit]:disabled {
    opacity: .7;
    cursor: not-allowed;
}

.commentForm footer {
    visibility: hidden;
    max-height: 0;
}

/* 

    focus-within

    se tiver um foco em qualquer coisa dentro do commentform
    aplicar uma estilização no footer nesse caso

*/

.commentForm:focus-within footer {
    visibility: visible;
    max-height: none;
}


.commentForm button[type=submit]:not(:disabled):hover {
    background: var(--green-300);
}

.commentList {
    margin-top: 2rem;
}